.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App-header {
  padding: 1em;
  text-align: center;
  h1 {
    margin-bottom: 0px;
  }
  h3 {
    margin-top: 0.25em;
    font-style: italic;
    font-weight: 200;
    opacity: 0.75;
  }
}

p.content-paragraph {
  font-size: 14px;
  line-height: 1.25em;
  margin: 0 auto;
  padding: 0 0 1.75em;
  width: 50%;
}

.google-visualization-controls-rangefilter {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-size: 14px !important;
  padding: 1em 0 !important;
  .google-visualization-controls-rangefilter-thumblabel {
    color: rgb(82, 82, 82) !important;
    font-weight: bold;
    padding: 0 0.2em;
  }
}


#google-visualization-errors-all-5 {
  visibility: hidden !important;
}